div.valrus-carousel {
	display: block;
	overflow-x: hidden;
	position: relative;

	margin: 20px;
	float: left;
}

div.valrus-carousel > .settings {
	display: none;
}

div.valrus-carousel > .canvas {
	position: absolute;
	white-space: nowrap;
}

div.valrus-carousel .canvas span.image {
	position: absolute;
	overflow: hidden;
}
