div.valrus-carousel {
	display: block;
	overflow-x: hidden;
	position: relative;

	margin: 20px;
	width: 1024px;
	height: 510;
}

div.valrus-carousel > .settings {
	display: none;
}

div.valrus-carousel > .images {
	position: absolute;
	white-space: nowrap;
}

div.valrus-carousel .images span.image {
	position: absolute;
	overflow: hidden;
}

div.valrus-carousel .blend {
	position: absolute;
	left:0px;
	top:0px;
	z-index: -2;
}

div.valrus-carousel .overlay {
    left:0px;
    top:0px;
    z-index: 3;
}
